<template>
    <div>
        <header class="c--header">
            <div class="c--header--greeting">
                <h1>shaaaare app</h1>
                <span>Hello {{(this.$store.state.userProfile.name)}}</span>
            </div>
            <nav>
                <router-link class="c--link" :to="{ path: '/dashboard' }">Dashboard</router-link>
                <router-link class="c--link" :to="{ path: '/readings' }">Readings</router-link>
            </nav>
            <Logout class="c--header--logout"></Logout>
        </header>
        <router-view></router-view>
    </div>
</template>

<script>
    import Logout from "../components/Logout";
    import Dashboard from "../components/Dashboard";
    export default {
        name: "Application",
        components: {
            Dashboard,
            Logout
          }
    }
</script>

<style lang="sass">
    @import "../assets/sass/variables"
    .c--header
        overflow: auto
        background-color:
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 2em 3em
        &--logout
            height: 100%
        &--greeting
            text-align: left
            h1
                margin: 0em

</style>