<template>
    <div>
        <nav class="c--nav-home">
            <router-link class="c--link" :to="{ path: '/login' }">Login</router-link>
            <router-link class="c--link" :to="{ path: '/signup' }">Sign Up</router-link>
        </nav>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "Home",
    }
</script>

<style lang="sass" scoped>
    .c--nav-home
        margin-top: 5em
</style>