<!-- Template for HTML. Added buttons for create session -->
<template>
    <li>
        <h3>{{ course.name }}</h3>
        <div>{{ course.description }}</div>
        <div><span>Prio: </span>{{ course.priority }}</div>
        <ul class="c--sessions c--list">
            <Session v-for="session in course.sessions" :courseId="course.id" :session="session" :key="session.id" ></Session>
        </ul>
        <CreateSession v-if="showCreateSession" @close="showCreateSession = false" :courseId="course.id"></CreateSession>
        <button id="show-modal" @click="showCreateSession = true">Create Session</button>
        <button @click="deleteCourse(course)">Delete Course</button>
    </li>
</template>

<script>
// Import CreateSession component from Vue
  import CreateSession from "./CreateSession";
// Import Session component from Vue
  import Session from "./Session";
  import {store} from '../store';
  const fb = require('../firebaseConfig.js');
  export default {
    name: "Course",
    components: {Session, CreateSession},
    props: {
      course: Object
    },
    data: function() {
      return {
        showCreateSession: false
      }
    },
    methods: {
      deleteCourse (course) {
        let courseRef = fb.usersCollection.doc(store.state.currentUser.uid).collection('courses').doc(course.id)

        for (var i = 0; i < course.sessions.length; i++) {
          let session = course.sessions[i]
          Session.methods.deleteSession(course.id, session);
        }
        courseRef.delete().then(function() {
          console.log("Course deleted")
          store.dispatch('fetchUserCourses')
        }).catch(function(error) {
          console.error("Error removing document: ", error);
        });

      }
  }
}
</script>

<style scoped lang="sass">
    h3
        margin-bottom: 0.4em
    .c--sessions
        margin: 2em 0em
        background-color: #f9f9f9
        padding: 0em
</style>