<!-- this is the HTML template and design-->
<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <h3>Create course</h3>
                    <div class="c-input-set">
                        <label>Course name</label>
                        <input type="text" placeholder="Name of course" v-model.trim="coursesForm.name"/>
                    </div>
                    <div class="c-input-set">
                        <label>Priority</label>
                        <input type="number" placeholder="1" v-model.trim="coursesForm.priority"/>
                    </div>
                    <div class="c-input-set">
                        <label>Description</label>
                        <input type="text" placeholder="Write a description of the course here" v-model.trim="coursesForm.description"/>
                    </div>
                    <div>
                        <button @click="$emit('close')">Close</button>
                        <button @click="createCourse">Create course</button>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
//Imports store from store
    import {store} from '../store';
    const fb = require('../firebaseConfig.js')
    //Function of Creating Courses
    export default {
      name: 'CreateCourses',
      data: function () {
        return {
          coursesForm: {
            name: '',
            priority: 0,
            description: ''
          },
          performingRequest: false
        }
      },
      methods: {
        createCourse: function () {

          if (this.performingRequest === false) {

            this.performingRequest = true;
            //Functionality to add to firebase storage
            const coursesCollection = fb.usersCollection.doc(store.state.currentUser.uid).collection('courses')
            coursesCollection.add({name: this.coursesForm.name, priority: this.coursesForm.priority, description: this.coursesForm.description, createdAt: Date.now()}).then(data => {

              //debugging purposes
              console.log("New course created and stored")
              store.dispatch('fetchUserCourses')
              this.$emit('close')
              this.performingRequest = false;

            }).catch(err => {

              //For error purposes
              console.log(err)
              this.performingRequest = false;

            })
          }
        }
      }
    }
</script>

<style lang="sass" scoped>
    .modal-mask
        position: fixed
        z-index: 9998
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .5)
        display: table
        transition: opacity .3s ease


        .modal-wrapper
            display: table-cell
            vertical-align: middle


        .modal-container
            width: 30em
            margin: 0px auto
            padding: 20px 30px
            background-color: #fff
            border-radius: 2px
            box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
            transition: all .3s ease


        /*
         * The following styles are auto-applied to elements with
         * transition="modal" when their visibility is toggled
         * by Vue.js.
         */

        .modal-enter
            opacity: 0


        .modal-leave-active
            opacity: 0


        .modal-enter .modal-container,
        .modal-leave-active .modal-container
            -webkit-transform: scale(1.1)
            transform: scale(1.1)
</style>
