<!-- This is the HTML Template-->
<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <h3>Create session</h3>
                    <div class="c-input-set">
                        <label>Topic</label>
                        <input type="text" placeholder="Topic of session" v-model.trim="sessionForm.topic"/>
                    </div>
                    <div class="c-input-set">
                        <label>Description</label>
                        <input type="text" placeholder="Description of session" v-model.trim="sessionForm.description"/>
                    </div>
                    <div class="c-input-set c-input-set--date">
                        <span class="c-input-set--date--label">
                            Date:
                        </span>
                        <date-picker
                            class="c-input-set--datepicker"
                            v-model="sessionForm.date"
                            placeholder="Select date"
                            :config= options
                    ></date-picker>
                    </div>
                    <div class="c--modal-nav">
                        <button @click="$emit('close')">Close</button>
                        <button @click="createSession">Create session</button>
                    </div>

                </div>
            </div>
        </div>
    </transition>
</template>

<script>
//Importing dependencies. Including datepicker and firebase
  import {store} from '../store';
  import DatePicker from "vue-bootstrap-datetimepicker/src/component";
  import 'bootstrap/dist/css/bootstrap.css';
  import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
  const fb = require('../firebaseConfig.js')
  import jQuery from 'jquery'
  let $ = jQuery

  // Using font-awesome 5 icons
  import '@fortawesome/fontawesome-free/css/fontawesome.css';
  import '@fortawesome/fontawesome-free/css/regular.css';
  import '@fortawesome/fontawesome-free/css/solid.css';

  // jQuery is required by bootstrap to work

  $.extend(true, $.fn.datetimepicker.defaults, {
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
      previous: 'fas fa-chevron-left',
      next: 'fas fa-chevron-right',
      today: 'fas fa-calendar-check',
      clear: 'far fa-trash-alt',
      close: 'far fa-times-circle'
    }
  });

  export default {
    name: "CreateSession",
    components: {
      DatePicker
    },
    props: {
      courseId: String
    },
    data: function () {
      return {
        sessionForm: {
          topic: '',
          description: '',
          date: null
        },
        performingRequest: false,
        options: {
          format: 'MMMM DD, YYYY HH:mm',
          showClear: false,
          showClose: true,
          stepping: 5
        }
      }
    },

//Creating sessions and storing it to firebase under Courses
    methods: {
      createSession: function () {
        if (this.performingRequest === false) {
          this.performingRequest = true;
          const sessionsCollection = fb.usersCollection.doc(store.state.currentUser.uid).collection('courses').doc(this.courseId).collection('sessions')
          sessionsCollection.add({
            topic: this.sessionForm.topic,
            description: this.sessionForm.description,
            createdAt: Date.now(),
            date: Date.parse(this.sessionForm.date)
          }).then(data => {
            console.log("New session created and stored")
            store.dispatch('fetchUserCourses')
            this.$emit('close')
            this.performingRequest = false;
          }).catch(err => {
            console.log(err)
            this.performingRequest = false;
          })
        }
      }
    }
  }
</script>

<!-- Styling-->
<style scoped lang="sass">
    .c--modal-nav
        display: flex
        width: 100%
        justify-content: space-between
        margin-top: 1em
    .c-input-set--date
        display: flex
        align-items: center
        .c-input-set--date--label
            padding: 1em 1em 1em 0em
            width: 10em
            display: block
    .c-input-set--datepicker
        border-radius: 0
        padding: 1.55em 1em

</style>