<!-- Template for dashboard-->
<template>
    <div class="c--dashboard">
        <h2>Create Courses, Sessions and Assets</h2>
        <button class="c--create-course" id="show-modal" @click="showCreateCourse = true">Create Course</button>
        <CreateCourses v-if="showCreateCourse" @close="showCreateCourse = false"></CreateCourses>
        <ul class="c--list">
            <Course v-for="course in this.$store.state.courses" :course="course" :key="course.id"></Course>
        </ul>
    </div>
</template>

<script>

//Import things that need to be on Dashboard
  import CreateCourses from "./CreateCourses";
  import Course from "./Course";
  import FileUploader from "./FileUploader";
  export default {
    name: 'Dashboard',
    components: {FileUploader, Course, CreateCourses},
    data: function() {
      return {
          showCreateCourse: false
      }
    },
    methods: {}
  }
</script>

<!-- Styling-->
<style lang="sass" scoped>
    .c--dashboard
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        padding: 3em
        .c--create-course
            width: 10em
            align-self: flex-end
            margin-bottom: 1em
</style>
