<!-- HTML Template for fileuploader-->
<template>

    <div>
        <input class="c--file-input" :id=sessionId type="file" @change="detectFiles($event.target.files)">
        <label class="c--button" :for=sessionId>Add a file</label>
        {{progressUpload}}
    </div>

</template>

<script>
//We want to upload the file (asset) under sessions which is under courses
  import {store} from '../store';
  const fb = require('../firebaseConfig.js')
  export default {
    name: "FileUploader",
    props: {
      sessionId: String,
      courseId: String
    },
    data () {
      return {
        progressUpload: 0,
        file: '',
        filename: '',
        uploadTask: '',
        uploading: false,
        uploadEnd: false,
        downloadURL: '',
        filesize: null,
        reference: '',
        performingRequest: false
      }
    },
    methods: {
      //The download of the asset itself
      createAsset (downloadURL) {
        if (this.performingRequest === false) {
          this.performingRequest = true;
          const assetCollection = fb.usersCollection.doc(store.state.currentUser.uid).collection('courses').doc(this.courseId).collection('sessions').doc(this.sessionId).collection('assets')
          assetCollection.add({
            filename: this.filename,
            reference: this.reference,
            downloadUrl: downloadURL,
            createdAt: Date.now()
          }).then(data => {
            //Console.log for debugging
            console.log("New asset created and stored")
            store.dispatch('fetchUserCourses')
            this.performingRequest = false;
          }).catch(err => {
            console.log(err)
            this.performingRequest = false;
          })
        }
      },
  //Takes array from filelist, detects file and initiates upload
      detectFiles (fileList) {
        Array.from(Array(fileList.length).keys()).map( x => {
          this.upload(fileList[x])
        })
      },
  //Upload object
      upload (file) {
        this.filename = file.name
        this.reference =  this.sessionId + "/" + file.name.toLowerCase().replace(/\s/g,'')
        this.uploading = true
        this.uploadTask = fb.storage.ref(this.reference).put(file);
      },
    },
    watch: {
      uploadTask: function() {
        this.uploadTask.on('state_changed', sp => {
            this.progressUpload = Math.floor(sp.bytesTransferred / sp.totalBytes * 100)
            this.filesize = sp.totalBytes
          },
          null,
          () => {
            this.uploadTask.snapshot.ref.getDownloadURL().then(downloadURL => {
              this.uploadEnd = true
              this.downloadURL = downloadURL
              this.$emit('url', downloadURL)
              console.log(downloadURL);
              this.createAsset(downloadURL)
            })
          })
      }
    }
  }
</script>

<!-- styling-->
<style scoped lang="sass">
    .c--file-input
        width: 0.1px
        height: 0.1px
        opacity: 0
        overflow: hidden
        position: absolute
        z-index: -1
</style>