<!-- Template for login site HTML-->
<template>
    <div class="c-login">
        <h3>Login</h3>
        <div class="c-input-set" id="c-input-set--email">
            <label>Email</label>
            <input type="text" placeholder="E-mail" v-model.trim="email"/>
        </div>
        <div class="c-input-set" id="c-input-set--password">
            <label>Password</label>
            <input type="password" id="password" placeholder="Password" v-model.trim="password"/>
        </div>
        <button @click="loginFirebase">Login</button>
    </div>
</template>

<script>
    //require firebase and import the store
    const fb = require('../firebaseConfig.js')
    import {store} from '../store';
    export default {
        name: "Login",
        //login using firebase
        data: function () {
            return {
                email: '',
                password: ''
              }
        },
        methods: {
            loginFirebase: function() {
                //The firebase login function itself. Sign in with email and password, fetch userprofile and courses
                fb.auth.signInWithEmailAndPassword(this.email, this.password).then(
                    (authData) => {
                        store.commit('setCurrentUser', authData.user)
                        store.dispatch('fetchUserProfile')
                        store.dispatch('fetchUserCourses')
                        //Push user to dashboard
                        this.$router.push('dashboard')
                    },
                    (err) => {

                        function addElement(parentId, elementTag, elementId, html) {
                            // Adds an element to the document
                            let p = document.getElementById(parentId);
                            let newElement = document.createElement(elementTag);
                            newElement.setAttribute('id', elementId);
                            newElement.innerHTML = html;
                            p.appendChild(newElement);
                        }

                        let element = document.getElementById("c-input-set--error");
                        if (element) {
                          element.parentNode.removeChild(element);
                        }

                        let errorCode = err.code;
                        document.getElementById('password').value = '';

                        if (errorCode == "auth/user-not-found") {
                          addElement("c-input-set--email", "span", "c-input-set--error", "Email not found")
                        }
                        else if (errorCode == "auth/invalid-email") {
                          addElement("c-input-set--email", "span", "c-input-set--error", "Invalid email")
                        }
                        else if (errorCode == "auth/wrong-password") {
                          addElement("c-input-set--password", "span", "c-input-set--error", "Incorrect Password")
                        }
                    }
                );
            }
        }
    }
    
    
    
    
</script>

<style lang="sass">
    .c-login
        margin: 10em auto 0 auto
        width: 40em
</style>