<!-- logout template-->
<template>
        <button @click="logoutFirebase">Logout</button>
</template>

<script>
    //import firebase where we will log out the user. Import router
    import firebase from "firebase";
    import router from "../router"
    export default {
        name: "Logout",
        data: function () {
            return {}
        },
        methods: {
            //call function logout through firebase
            logoutFirebase: function () {
                firebase.auth().signOut().then(function() {
                    // Sign-out successful.
                    router.push({ path: '/login' })
                }, function(error) {
                    // An error happened.
                    console.log(error.message);
                });
            }
        }
    }
</script>

<style scoped lang="sass">
</style>