<!-- HTML template for readings site-->
<template>
    <div>
      <h2>See an overview of your readings listed in order of Day and Priority</h2>
        <div v-for="sessionDay in orderSessionsByDayAndPrio(orderedFutureSessions)" v-bind:key="sessionDay.date">
            <h2 class="c--sessionDay--caption">{{$moment(sessionDay.date).format("dddd, MMMM Do YYYY")}}</h2>
            <ul class="c--list">
                <li v-for="session in sessionDay" v-bind:key="session.id">
                    {{session.topic}}<br>
                    {{$moment(session.date).format("dddd, MMMM Do YYYY HH:mm")}}<br>
                    {{session.priority}}
                    <h3 class="c--sessionDay--asset-caption" v-if="session.assets[0]">Assets</h3>
                    <ul class="c--asset-list" v-if="session.assets[0]">
                        <li v-for="asset in session.assets" :key="asset.id" class="c--asset">
                            <h6>{{asset.filename}}</h6>
                            <a class="c--button" target="_blank" :href=asset.downloadUrl>Download</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
  import {store} from '../store';
  export default {
    name: "Readings",
    methods: {
      //Order sessions by day and or priority to increase usability
      orderSessionsByDayAndPrio(sessions) {

        let orderSessionsByDayAndPrio = {};
        let orderedSessionsByDate = {};
        let currentDate = null;

        for (var i = 0; i < sessions.length; i++) {
          let session = sessions[i];
          // Remove time from session date
          let sessionDate = new Date(session.date).setHours(0,0,0,0);

          if (sessionDate === currentDate) {
            orderedSessionsByDate[sessionDate].push(session);
          }
          else {
            orderedSessionsByDate[sessionDate] = [];
            orderedSessionsByDate[sessionDate].date = sessionDate
            orderedSessionsByDate[sessionDate].push(session);
            currentDate = sessionDate;
          }
        }
        //add way of sorting by date
        for (let [day, sessions] of Object.entries(orderedSessionsByDate)) {
          let sessionsSort = sessions.sort(function(a,b){
            if (a.priority < b.priority)
              return -1;
            if (a.priority > b.priority)
              return 1;
            return 0;
          });
          orderSessionsByDayAndPrio[day] = [];
          orderSessionsByDayAndPrio[day].push(sessionsSort);
        }

        return orderedSessionsByDate;
      }
    },
    computed: {
      orderedFutureSessions: function () {
        let orderedFutureSessions = [];
        let courses = store.state.courses;


        courses.forEach(function(course) {
          let sessions = course.sessions
          for (var i = 0; i < sessions.length; i++) {
            let session = sessions[i];
            session.priority = course.priority
            var now = new Date();
            if (session.date > now) {
              orderedFutureSessions.push(session)
            }
          }
        });

        orderedFutureSessions.sort(function(a,b){
          // Turn your strings into dates, and then subtract them
          // to get a value that is either negative, positive, or zero.
          return new Date(a.date) - new Date(b.date);
        });

        return orderedFutureSessions;
      }
    }
  }
</script>

<style scoped lang="sass">
    .c--sessionDay--caption
        margin: 2em 0em 0.5em
    .c--sessionDay--asset-caption
        margin: 1em 0em 0.5em 0em
        font-size: 1.6em
        font-weight: 600
</style>