<template>
    <li>
        <div class="c--session">
            <span class="c--session-topic">{{session.topic}}</span> |
            Description: {{session.description}} |
            Date: {{$moment(session.date).format("dddd, MMMM Do YYYY HH:mm")}}
        </div>

        <div class="c--assets" v-if="session.assets[0]">
            <h4 class="c--asset-list--caption">Assets</h4>
            <ul class="c--asset-list">
                <li v-for="asset in session.assets" :key="asset.id" class="c--asset">
                    <h6>{{asset.filename}}</h6>
                    <a class="c--button" target="_blank" :href=asset.downloadUrl>Download</a>
                    <button @click="deleteAsset(courseId, session.id, asset)">Delete asset</button>
                </li>
            </ul>
        </div>
        
        <file-uploader  :courseId="courseId" :sessionId="session.id" ></file-uploader>

        <button @click="deleteSession(courseId, session)">Delete Session</button>
    </li>
</template>

<script>
  import FileUploader from "./FileUploader";
  import {store} from '../store';
  const fb = require('../firebaseConfig.js')
  export default {
    name: "Session",
    components: {FileUploader},
    props: {
      session: Object,
      courseId: String
    },
    data: function () {
      return {
        showCreateAsset: false
      }
    },
    methods: {
      deleteAsset (courseId, sessionId, asset) {
        let assetId = asset.id
        let assetRef = fb.usersCollection.doc(store.state.currentUser.uid).collection('courses').doc(courseId).collection('sessions').doc(sessionId).collection('assets').doc(assetId)
        let reference = asset.reference
        assetRef.delete().then(function() {
          fb.storage
          .ref(reference)
          .delete()
          .then(() => {
            console.log("Asset deleted")
            store.dispatch('fetchUserCourses')
          })
          .catch((error) => {
            console.error(`file delete error occured: ${error}`)
          })
        }).catch(function(error) {
          console.error("Error removing document: ", error);
        });

      },
      deleteSession (courseId, session) {
        let sessionRef = fb.usersCollection.doc(store.state.currentUser.uid).collection('courses').doc(courseId).collection('sessions').doc(session.id)
        for (var i = 0; i < session.assets.length; i++) {
          let asset = session.assets[i]
          this.deleteAsset(courseId, session.id, asset);
        }
        sessionRef.delete().then(function() {
            console.log("Session deleted")
            store.dispatch('fetchUserCourses')
        }).catch(function(error) {
          console.error("Error removing document: ", error);
        });

      }
    }
  }
</script>

<style lang="sass">
    .c--session
        margin-bottom: 2em
    .c--session-topic
        font-weight: 700
    .c--asset-list--caption
        margin-bottom: 1em
        font-size: 1em
        font-weight: 700
    .c--assets
        margin-bottom: 1em
    .c--asset-list
        padding: 0em
        .c--asset
            font-size: 0.8em
            padding: 1em 0.5em
            display: flex
            align-items: center
            h6
                margin-bottom: 0em
                margin-right: 2em
</style>