<template>
    <div class="c-signup">
        <h3>Sign Up</h3>
        <div class="c-input-set" id="c-input-set--name">
            <label>Name</label>
            <input type="text" placeholder="Name" v-model.trim="signupForm.name"/>
        </div>
        <div class="c-input-set" id="c-input-set--cbsid">
            <label>CBS ID</label>
            <input type="numbers" placeholder="cbsid" v-model.trim="signupForm.cbsid"/>
        </div>
        <div class="c-input-set" id="c-input-set--email">
            <label>Email</label>
            <input type="text" placeholder="E-mail" v-model.trim="signupForm.email"/>
        </div>
        <div class="c-input-set" id="c-input-set--password">
            <label>Password</label>
            <input type="password" placeholder="Password" v-model.trim="signupForm.password"/>
        </div>
        <button @click="signUpFirebase">Sign up</button>
    </div>
</template>

<script>
    const fb = require('../firebaseConfig.js');
    import router from "../router";
    export default {
        name: "Signup",
        data: function () {
            return {
              // define variables for this component to assign values from template
              signupForm: {
                name: '',
                cbsid: '',
                email: '',
                password: ''
              }
            }
        },
        methods: {
          signUpFirebase: function () {

            fb.auth.createUserWithEmailAndPassword(this.signupForm.email, this.signupForm.password).then(
              (authData) => {
                // save the user's profile into the database so we can list users,
                // use them in Security and Firebase Rules, and show profiles
                console.log(authData.user)
                fb.usersCollection.doc(authData.user.uid).set({
                  name: this.signupForm.name,
                  cbsId: this.signupForm.cbsid
                })
                .then(function () {
                  router.push('dashboard');
                })
                .catch(function (error) {
                  console.error("Error writing document: ", error);
                });
              },
              (err) => {
                // handle returned error ojbect
                function addElement(parentId, elementTag, elementId, html) {
                  // Adds an element to the document
                  let p = document.getElementById(parentId);
                  let newElement = document.createElement(elementTag);
                  newElement.setAttribute('id', elementId);
                  newElement.innerHTML = html;
                  p.appendChild(newElement);
                }

                let element = document.getElementById("c-input-set--error");
                if (element) {
                  element.parentNode.removeChild(element);
                }

                let errorCode = err.code;

                if (errorCode == "auth/email-already-in-use") {
                  addElement("c-input-set--email", "span", "c-input-set--error", "E-Mail already in use")
                }
                else if (errorCode == "auth/invalid-email") {
                  addElement("c-input-set--email", "span", "c-input-set--error", "Invalid email")
                }
                else if (errorCode == "auth/weak-password") {
                  addElement("c-input-set--password", "span", "c-input-set--error", "Passowrd is too weak")
                }
              }
            );
            this.signupForm.password = '';
            }
        }
    }
</script>

<style scoped lang="sass">
    .c-signup
        margin: 10em auto 0 auto
        width: 40em
</style>