@import "./variables"
*
  box-sizing: border-box

body
  padding: 0
  margin: 0

nav
  margin: 0em
  font-size: 1.2em
  .c--link
    padding: 0.1em 0.5em
    color: black
    margin-right: 1em
    &:last-child
      margin-right: 0em
    &.router-link-active
      background-color: $black
      color: white

button, .c--button
  background-color: transparent
  padding: 0.7em 1.2em
  margin: 0.2em
  border: none
  font-size: 1em
  border: 2px solid $dark-grey
  color: $dark-grey
  &:hover
    text-decoration: none
    color: $light-grey
    background-color: $black
    border: 2px solid $black


.c-input-set
  position: relative
  margin: 0.5em auto
  display: flex
  align-items: center
  input
    padding: 1em
    width: 100%
  label
    padding: 1em 1em 1em 0em
    width: 10em
    display: inline-block
    text-align: left
  .c-input-set--error
    background-color: red
    color: white
    padding: 0.6em
    font-size: 0.9em
    margin: 0.6em
    font-weight: 600
    position: absolute
    width: 14em

.c--list
  text-align: left
  padding: 0em
  margin: 0em
  li
    padding: 2em
    border-bottom: 1px solid $light-grey
    list-style: none
    &:first-child
      border-top: 1px solid $light-grey

  dl
    text-align: left
    dt
      display: inline-block
      margin: 0em
    dd
      display: table
      margin: 0em


.modal-mask
  position: fixed
  z-index: 9998
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .5)
  display: table
  transition: opacity .3s ease


  .modal-wrapper
    display: table-cell
    vertical-align: middle


  .modal-container
    width: 30em
    margin: 0px auto
    padding: 20px 30px
    background-color: #fff
    border-radius: 2px
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33)
    transition: all .3s ease
    display: flex
    flex-direction: column


  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter
    opacity: 0


  .modal-leave-active
    opacity: 0


  .modal-enter .modal-container,
  .modal-leave-active .modal-container
    -webkit-transform: scale(1.1)
    transform: scale(1.1)